<section>
  <h1>Грокаем Алгоритмы</h1>

  <img src="../../../../assets/imgs/1526815226639.png" alt="book_poster">

  <div>
    <p>
      Здесь представлен конспект основанный на книге Grokking Algorithms.
      Идея состояла в том чтобы сделать максимальную визуализацию процессов происходящих в работе алгоритмов.
      Надеюсь это облегчит процесс понимания столь сложной темы.
    </p>
  </div>

  <a 
    mat-flat-button 
    color="primary"
    [routerLink]="['/intro']"
  >ЧИТАТЬ</a>
</section>
