<div class="matrix-wrap">
  <div 
    class="matrix_row"
    *ngFor="let row of matrix"
  >
    <div
      *ngFor="let cell of row" 
      class="matrix_col"
      [ngClass]="{'highlight': cell.highlighted, 'desired': cell.desired, 'inactive': cell.inactive}"
    >
      {{cell.index}}
    </div>
  </div>

  <span>
    {{textDesc}}
  </span>

  <div class="controls-wrap">
    <button 
      mat-stroked-button 
      color="primary"
      (click)="clickHandler()"
    >
      {{btnText}}
    </button>
  </div>
</div>
